<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--        https://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean id="cat" class="com.wang.pojo.Cat"/>-->
<!--    <bean id="dog" class="com.wang.pojo.Dog"/>-->

<!--    &lt;!&ndash;  byName:会自动在容器上下文中寻找，和自己对象set方法的参数值对应的bean-id-->
<!--     要保证bean的id唯一  &ndash;&gt;-->
<!--    <bean id="person" class="com.wang.pojo.Person" autowire="byName">-->
<!--        <property name="name" value="张三"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash;  byName:会自动在容器上下文中寻找，和自己对象属性类型相同的bean-->
<!--    要保证该类型的bean是唯一的&ndash;&gt;-->
<!--    <bean id="person2" class="com.wang.pojo.Person" autowire="byType">-->
<!--        <property name="name" value="张三"/>-->
<!--    </bean>-->

<!--</beans>-->